/* Cart sidebar styling */
.cart-sidebar {
    position: fixed;
    top: 10;
    right: 0; 
    width: 300px;
    height: 50vh;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}


.cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: #f8f8f8; 
}

.cart-header h2 {
    margin: 0; 
}

.cart-header .close-btn {
    background-color: transparent; 
    color: #333; 
    border: none;
    cursor: pointer; 
    font-size: 24px; 
    padding: 0; 
}


.cart-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto; 
    padding: 10px 20px;
}

/* Individual cart item styling */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Vertical padding for items */
    border-bottom: 1px solid #ddd;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px; /* Space between image and text */
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Product title with overflow ellipses */
.cart-item-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px; /* Space below title */
}

.cart-item-price {
    font-size: 12px;
    color: #555;
}

.cart-item-controls {
    display: flex;
    align-items: center;
}

/* Footer for cart with subtotal and checkout button */
.cart-footer {
    padding: 20px; /* Padding for footer */
}
.quantity-dropdown {
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.remove-btn {
    background-color: #f44336;
    color: #fff;
    padding: 2px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

/* Footer for cart with subtotal and checkout button */
.cart-footer {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f8f8f8;
}

.subtotal {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: #45a049;
}


.price-filter, .price-inputs, .price-input {
    display: none;
}
